{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        <script src="{% static 'index.js' %}"></script>
    </head>
    <body>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'flux:home' %}" class="nav-brand">LITRevu</a>
            <div class="nav-links">
                <a href="{% url 'flux:home' %}" {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>Flux</a>
                <a href="{% url 'flux:posts' %}" {% if request.resolver_match.url_name == 'posts' %}class="active"{% endif %}>Posts</a>
                <a href="{% url 'flux:subscriptions' %}" {% if request.resolver_match.url_name == 'subscriptions' %}class="active"{% endif %}>Abonnements</a>
                <a href="{% url 'authentication:logout' %}">Se déconnecter</a>
            </div>
        </nav>
        {% else %}
        <h1 class="brand-title">LITRevu</h1>
        {% endif %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% include 'modal_confirm.html' %}
    </body>
</html>