{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'flux:home' %}">Flux</a>
            <a href="{% url 'flux:posts' %}">Posts</a>
            <a href="{% url 'flux:subscriptions' %}">Abonnements</a>
            <a href="{% url 'authentication:logout' %}">Se déconnecter</a>
        </nav>
        {% endif %}

        <h1>LITRevu</h1>
        {% block content %}
        {% endblock %}
    </body>
</html>