{% extends 'base.html' %}

{% block content %}
    <h2>Modifier un ticket</h2>
    {% if edit_form.errors %}
        {{ edit_form.errors }}
        <p style="color: red;">Please correct the errors below.</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button type="submit">Sauvegarder</button>
    </form>
    <h3>Supprimer ce ticket</h3>
    {% if delete_form.errors %}
        {{ delete_form.errors }}
        <p style="color: red;">Please correct the errors below.</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ delete_form.as_p }}
        <button type="submit">Supprimer</button>
    </form>
    <a href="{% url 'flux:home' %}">Retourner</a>
{% endblock %}